<div class="homepageFilterBox porovnaniFilterBox infoBox">
	<header>
		<div class="headerWrapper">
			<h1>TYPY TRESTNÝCH ČINŮ</h1>
		</div>
		<div class="clearfix"></div>
	</header>
	<div class="content">
		<ul>
			<li class="violent ui"><input type="checkbox" checked="checked" name="violent"/>Násilné činy<sup class='upper' title='Nejčastěji úmyslné ublížení na zdraví, loupež, porušování domovní svobody, nebezpečné vyhrožování a vydírání.'>?</sup></li>
			<li class="moral ui"> <input type="checkbox" checked="checked" name="moral"/>Mravnostní činy<sup class='upper ui' title='Nejčastěji znásilnění a pohlavní zneužívání ostatní.'>?</sup></li>
			<li class="burglary ui"><input type="checkbox" checked="checked" name="burglary"/>Krádeže vloupáním<sup class='upper' title='Nejčastěji krádeže vloupáním do rodinných domků, víkendových chat, bytů, obchodů, restaurací a hostinců.'>?</sup></li>
			<li class="theft ui"><input type="checkbox" checked="checked" name="theft"/>Krádeže prosté<sup class='upper' title='Nejčastěji krádeže věcí z automobilů, krádeže kapesní, krádeže dvoustopých motorových vozidel, krádeže součástek motorových vozidel a krádeže jízdních kol.'>?</sup></li>
			<li class="property ui"><input type="checkbox" checked="checked" name="property"/>Ostatní majetkové činy<sup class='upper' title='Nejčastěji poškozování cizí věci a podvod.'>?</sup></li>
			<li class="other ui"><input type="checkbox" checked="checked" name="other"/>Ostatní činy<sup class='upper' title='Nejčastěji maření výkonu úředního rozhodnutí, výtržnictví, nedovolená výroba a držení psychotropních látek a jedů a sprejerství.'>?</sup></li>
			<li class="rest ui"><input type="checkbox" checked="checked" name="rest"/>Zbývající činy<sup class='upper' title='Nejčastěji zanedbání povinné výživy, ohrožení pod vlivem návykové látky a opilství a o nedbalostní dopravní nehody.'>?</sup></li>
			<li class="economic ui"><input type="checkbox" checked="checked" name="economic"/>Hospodářské činy<sup class='upper' title='Nejčastěji neoprávněné držení platební karty, úvěrový podvod, podvod, ochrana měny a zpronevěra.'>?</sup></li>
			<li class="military ui"><input type="checkbox" checked="checked" name="military"/>Vojenské činy<sup class='upper' title='Trestné činy páchané vojáky ve vztahu k výkonu vojenské služby, např. neuposlechnutí rozkazu, urážka mezi vojáky, vyhýbání se výkonu služby apod.'>?</sup></li>
		</ul>
	</div>
</div>

<div id="porovnaniPage">
	<div class="firstCol">
		<header>
			<div class="selectWrapper">
				<select class="firstSelect chzn-select county" data-placeholder="Vyber územní jednotku">
				      <option value=""></option>
			          <optgroup label="PRAHA">
			            <option data-rank="1">Praha</option>
			          </optgroup>
			          <optgroup label="STŘEDOČESKÝ KRAJ">
			            <option data-rank="2">Rakovník</option>
			            <option data-rank="3">Kladno</option>
			            <option data-rank="4">Mělník</option>
			            <option data-rank="5">Mladá Boleslav</option>
			          </optgroup>
			          <optgroup label="LIBERECKÝ KRAJ">
			            <option data-rank="6">Česká Lípa</option>
			            <option data-rank="7">Liberec</option>
			            <option data-rank="8">Jablonec n. Nisou</option>
			            <option data-rank="9">Semily</option>
			          </optgroup>
			          <optgroup label="ÚSTECKÝ KRAJ">
			            <option data-rank="10">Chomutov</option>
			            <option data-rank="11">Teplice</option>
			            <option data-rank="12">Louny</option>
			            <option data-rank="13">Litoměřice</option>
			          </optgroup>
			          <optgroup label="KARLOVARSKÝ KRAJ">
			            <option data-rank="14">Cheb</option>
			            <option data-rank="15">Karlovy Vary</option>
			            <option data-rank="16">Sokolov</option>
			          </optgroup>
			          <optgroup label="KRÁLOVEHRADECKÝ KRAJ">
			            <option data-rank="17">Turnov</option>
			            <option data-rank="18">Náchod</option>
			            <option data-rank="19">Jíčín</option>
			            <option data-rank="20">Hradec Králové</option>
			          </optgroup>
			          <optgroup label="PARDUBICKÝ KRAJ">
			            <option data-rank="21">Pardubice</option>
			            <option data-rank="22">Chrudim</option>
			            <option data-rank="23">Svitavy</option>
			            <option data-rank="24">Ústí n. Labem</option>
			          </optgroup>
			          <optgroup label="MORAVSKOSLEZSKÝ KRAJ">
			            <option data-rank="25">Bruntál</option>
			            <option data-rank="26">Opava</option>
			            <option data-rank="27">Ostrava</option>
			            <option data-rank="28">Karviná</option>
			          </optgroup>
        		</select>
			</div>
			<div class="rank">
				<a href="#" class="rankUp" title="Pořadí nahoru"></a>
				<p title="Index kriminality">10</p>
				<a href="#" class="rankDown" title="Pořadí dolů"></a>
			</div>
		</header>
		<div class="clearfix"></div>
		<div class="content">
			<section class="staticData">
				<table>
					<tr>
						<th>způsobená škoda</th>
						<th>počet policistů</th>
					</tr>
					<tr class="total">
						<td>99 450 966 Kč</td>
						<td>8 765</td>
					</tr>
				</table>
			</section>
			<section class="total">
				<table>
					<tr>
						<th></th>
						<th class="first">Zjištěno</th>
						<th class="second">Objasněno</th>
						<th class="third">%</th>
					</tr>
					<tr class="values">
						<td>Trestné činy celkem</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">6</td>
					</tr>
				</table>
			</section>
			<section class="index">
				<h1>index kriminality</h1>
				<h2 class="value">0,82</h2>
				<div class="bar">
					<div class="graph"></div>
				</div>
			</section>
			<div style="clearfix"></div>
			<section class="table">
				<table>
					<tr class="violent">
						<td class="title">Násilné činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="moral">
						<td class="title">Mravnostní činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="burglary">
						<td class="title">Krádeže vloupáním</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="theft">
						<td class="title">Krádeže prosté</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="property">
						<td class="title">Ostatní majetkové činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="other">
						<td class="title">Ostatní činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="rest">
						<td class="title">Zbývající činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="economic">
						<td class="title">Hospodářské činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
					<tr class="military last">
						<td class="title">Vojenské činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
						<td class="bar"><div class="value">25</div><div class="graph"></div></td>
					</tr>
				</table>
			</section>
		</div>
	</div>
	<div class="secondCol">
		<header>
			<div class="selectWrapper">
				<select class="secondSelect chzn-select county" data-placeholder="Vyber územní jednotku">
				      <option value=""></option>
			          <optgroup label="PRAHA">
			            <option data-rank="1">Praha</option>
			          </optgroup>
			          <optgroup label="STŘEDOČESKÝ KRAJ">
			            <option data-rank="2">Rakovník</option>
			            <option data-rank="3">Kladno</option>
			            <option data-rank="4">Mělník</option>
			            <option data-rank="5">Mladá Boleslav</option>
			          </optgroup>
			          <optgroup label="LIBERECKÝ KRAJ">
			            <option data-rank="6">Česká Lípa</option>
			            <option data-rank="7">Liberec</option>
			            <option data-rank="8">Jablonec n. Nisou</option>
			            <option data-rank="9">Semily</option>
			          </optgroup>
			          <optgroup label="ÚSTECKÝ KRAJ">
			            <option data-rank="10">Chomutov</option>
			            <option data-rank="11">Teplice</option>
			            <option data-rank="12">Louny</option>
			            <option data-rank="13">Litoměřice</option>
			          </optgroup>
			          <optgroup label="KARLOVARSKÝ KRAJ">
			            <option data-rank="14">Cheb</option>
			            <option data-rank="15">Karlovy Vary</option>
			            <option data-rank="16">Sokolov</option>
			          </optgroup>
			          <optgroup label="KRÁLOVEHRADECKÝ KRAJ">
			            <option data-rank="17">Turnov</option>
			            <option data-rank="18">Náchod</option>
			            <option data-rank="19">Jíčín</option>
			            <option data-rank="20">Hradec Králové</option>
			          </optgroup>
			          <optgroup label="PARDUBICKÝ KRAJ">
			            <option data-rank="21">Pardubice</option>
			            <option data-rank="22">Chrudim</option>
			            <option data-rank="23">Svitavy</option>
			            <option data-rank="24">Ústí n. Labem</option>
			          </optgroup>
			          <optgroup label="MORAVSKOSLEZSKÝ KRAJ">
			            <option data-rank="25">Bruntál</option>
			            <option data-rank="26">Opava</option>
			            <option data-rank="27">Ostrava</option>
			            <option data-rank="28">Karviná</option>
			          </optgroup>
        		</select>
			</div>
			<div class="rank">
				<a href="#" class="rankUp" title="Pořadí nahoru"></a>
				<p title="Index kriminality">10</p>
				<a href="#" class="rankDown" title="Pořadí dolů"></a>
			</div>
		</header>
		<div class="clearfix"></div>
		<div class="content">
			<section class="staticData">
				<table>
					<tr>
						<th>způsobená škoda</th>
						<th>počet policistů</th>
					</tr>
					<tr class="total">
						<td>99 450 966 Kč</td>
						<td>8 765</td>
					</tr>
				</table>
			</section>
			<div class="clearfix"></div>
			<section class="index">
				<h1>index kriminality</h1>
				<h2 class="value">0,82</h2>
				<div class="bar">
					<div class="graph"></div>
				</div>
			</section>
			<div class="clearfix"></div>
			<section class="total">
				<table>
					<tr>
						<th></th>
						<th class="first">Zjištěno</th>
						<th class="second">Objasněno</th>
						<th class="third">%</th>
					</tr>
					<tr class="values">
						<td>Trestné činy celkem</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">6</td>
					</tr>
				</table>
			</section>
			<div class="clearfix"></div>
			<section class="table">
				<table>
					<tr class="violent">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Násilné činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="moral">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Mravnostní činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="burglary">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Krádeže vloupáním</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="theft">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Krádeže prosté</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="property">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Ostatní majetkové činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="other">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Ostatní činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="rest">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Zbývající činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="economic">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Hospodářské činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
					<tr class="military last">
						<td class="bar"><div class="graph"></div><div class="value">25</div></td>
						<td class="title">Vojenské činy</td>
						<td class="first">3675</td>
						<td class="second">175</td>
						<td class="third">5</td>
					</tr>
				</table>
			</section>
		</div>
	</div>
</div>

<div class="homepageTimeline porovnaniTimeline">
	<div class="dateRange">
	       		<header>
	       			<span class="firstMonth">Červenec</span>
	       			<span class="firstYear">2010</span>
	       			<span class="white">-</span>
	       			<span class="secondMonth">Září</span>
	       			<span class="secondYear">2012</span>
	       			<div class="clearfix"></div>
	       		</header>
				<div class="content">
	       			<div class="firstDate">
	       				<ol class="month">
	       					<li>Leden</li>
	       					<li>Únor</li>
	       					<li>Březen</li>
	       					<li>Duben</li>
	       					<li>Květen</li>
	       					<li>Červen</li>
	       					<li>Červenec</li>
	       					<li>Srpen</li>
	       					<li>Září</li>
	       					<li>Říjen</li>
	       					<li>Listopad</li>
	       					<li>Prosinec</li>
	       				</ol>
	       				<ol class="year">
	       					<li>2005</li>
	       					<li>2006</li>
	       					<li>2007</li>
	       					<li>2008</li>
	       					<li>2009</li>
	       					<li>2010</li>
	       					<li>2011</li>
	       					<li>2012</li>
	       				</ol>
	       			</div>
	       			<div class="secondDate">
	       				<ol class="month">
	       					<li>Leden</li>
	       					<li>Únor</li>
	       					<li>Březen</li>
	       					<li>Duben</li>
	       					<li>Květen</li>
	       					<li>Červen</li>
	       					<li>Červenec</li>
	       					<li>Srpen</li>
	       					<li>Září</li>
	       					<li>Říjen</li>
	       					<li>Listopad</li>
	       					<li>Prosinec</li>
	       				</ol>
	       				<ol class="year">
	       					<li>2005</li>
	       					<li>2006</li>
	       					<li>2007</li>
	       					<li>2008</li>
	       					<li>2009</li>
	       					<li>2010</li>
	       					<li>2011</li>
	       					<li>2012</li>
	       				</ol>
	       			</div>
	       			<div class="clearfix" >
	       		</div>
		       	<footer>
		       		<div>
			       		<a href="#" class="ok" title="potvrdit"><div></div></a>
			       		<a href="#" class="cancel" title="zrušit"><div></div></a>
			       	</div>
		       	</footer>
			</div>
	</div>		
	<div class="dataView">
		<div class="leftArrow"></div>
		<div class="data">
			<div class="activeArea">
				<div class="left ui"></div>
				<div class="bar"></div>
				<div class="right ui"></div>
			</div>
			<ol>
			
			</ol>
		</div>
		<div class="rightArrow"></div>
</div>